<% @pokemons.each do |pokemon| %>
<%# Beginning of the card  %>
<div class="card bg-light" id="card-highlighter">
  <%= link_to pokemon do %>
  <img src="<%=pokemon.photo_url%>" id="pokeimage">
  <div class="background-card">
    <div class="card-info py-3">
      <div class="card-left d-flex align-items-start flex-column justify-content-around">
        <h2><%=pokemon.name.titleize %></h2>
        <h3 class="py-2" data-content=""><%=pokemon.user.name[0..15] + "..."%></h3>
      </div>
      <div class="card-right d-flex align-items-end flex-column justify-content-around">
        <h2>£<%=number_with_delimiter(pokemon.price.to_i * 3,delimiter: ",") %> </h2>
        <div class="call-to d-flex align-items-center justify-content-around text-center p-2 rounded-pill">
          <h3>Rent me</h3>
          <%= image_tag "money.png", id: "money"%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%# End of the card  %>
</div>
<% end %>
