<div class="container-fluid p-0 ">
  <div class="cards">
    <% @pokemons.each do |pokemon| %>

    <div class="card bg-light">
    <%= link_to pokemon do %>
      <img src="<%=pokemon.photo_url%>">

      <div class="card-info">
        <div class="card-left">
          <h2><%=pokemon.name.titleize %></h2>
          <h3><%=pokemon.user.name %></h3>
        </div>
        <div class="card-right">
          <h2>£<%=pokemon.price %></h2>
        </div>
      <% end %>
      </div>
    </div>

    <% end %>
  </div>
  </ul>
</div>
